<header> 
	<div> 
		<nav> 
			<ul> 
				<% if logged_in? %> 
					<% content_for :btn do %>
						<div class="dropdown">
							<div class="btn-group">
	  							<button type="button" class="btn btn-default"><%= @user.login %></button>
	  							<button type="button" class="btn btn-default dropdown-toggle" id="menu1" data-toggle="dropdown">
	    							<span class="caret"></span>
	  							</button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
										<li role="presentation"><%= link_to "Profile", current_user %></li> 
										<li role="presentation"><%= link_to "Settings", edit_user_path(current_user) %></li> 
										<li role="presentation"> <%= link_to "Log out", sign_out_path, method: "delete" %> </li> 
									</ul> 
								
							</div>
						</div>
						<%end%>
				
				<% end %> 
			</ul> 
		</nav> 
	</div> 
</header>
