<% content_for :btn do %>
    <%= link_to '<button type="button" class="btn btn-default" id="btn_login">Login</button>'.html_safe, sign_in_login_path %>
<% end %>

    <h1>Status Service</h1>
    <h2>Este é o site para avaliar e ter seus serviços avaliados</h2>
