<header> 
	<div> 
		<nav> 
			<ul> 
				<% if logged_in_company? %>
					<% content_for :btn do %>
						<div class="dropdown">
							<div class="btn-group">
	  							<button type="button" class="btn btn-default"><%= current_company.nome %></button>
	  							<button type="button" class="btn btn-default dropdown-toggle" id="menu1" data-toggle="dropdown">
	    							<span class="caret"></span>
	  							</button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
										<li role="presentation"><%= link_to "Profile", current_company %></li> 
										<li role="presentation"><%= link_to "Settings", edit_company_path(current_company) %></li> 
										<li role="presentation"> <%= link_to "Log out", sign_out_company_path, method: "delete" %> </li> 
									</ul> 
								
							</div>
						</div>
					<%end%>
				<% end %> 
			</ul> 
		</nav> 
	</div> 
</header>
