<%= render 'header' %>
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header"> Company Settings</h1>
				<%= render 'form' %>
				<ul>
					<li><%= link_to "Edit", edit_company_path(current_company) %></li>
					<li><%= link_to "Delete", @company, method: :delete %></li>
				</ul>
			</div>
		</div>
	</div>
</div>