<%= render 'header' %>
<ol class="breadcrumb">
  <li><a href=<%="/companies/" << current_company.id.to_s%>>Home</a></li>
</ol>
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
    <h1 class="page-header">Perfil de <%= @company.nome %> </h1>
    CNPJ:<%= @company.cnpj %>
    <% if current_company == @company %>
     <ul>
     </ul>
    <% end %>
    </div>
   </div>
  </div>
</div>
