<%= render 'header' %>
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
			    <h1 class="page-header">Avaliações</h1>
                <table> 
					<thead> 
						<tr> 
							<th>Nome</th> 
							<th></th> 
						</tr> 
					</thead> 
					<tbody> 
						<% @exames.each do |exame| %> 
						<tr>
							<td><%= exame.nome  %></td>  
						</tr> 
						<%end%> 
					</tbody> 
				</table> 			    
			 </div>
	    </div>
	</div>
</div>