<h1>Avaliações</h1> 
<table> 
	<thead> 
		<tr> 
			<th>Nome</th>
			<th></th> 
		</tr> 
	</thead> 
	<tbody> 
		<% @exames.each do |exame| %> 
		<tr> 
			<td><%= exame.nome %></td>
			<!-- Faço a interpolação das strings embaixo para poder acessar a rota -->
			<td><%= link_to "Show", '/companies/:company_id/exames/' << exame.id.to_s %>
			<td><%= link_to "Excluir", '/companies/:company_id/exames/' << exame.id.to_s, method: :delete %></td>
			<!-- <td> link_to "Excluir", company_exame_path(exame.id), method: :delete %></td> -->
		</tr> 
		<%end%>
		<tr>
			<td><%= link_to "Nova Avaliação", new_company_exame_path%></td>
		</tr>
	</tbody> 
</table>
