<%= render 'header' %>
<ol class="breadcrumb">
  <li><a href=<%="/companies/" << current_company.id.to_s%>>Home</a></li>
  <li><a href=<%="/companies/" << current_company.id.to_s << "/exames"%>>Avaliações</a></li>
  <li class="active">Nova Avaliação</li>
</ol>
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
                <h1 class="page-header">Criar Nova Avaliação</h1>
                <%= render 'form' %>
            </div>
        </div>
    </div>
</div>
