/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 
 
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

//body{background-image: url(/assets/backdor.jpg); background-repeat: repeat;}

.navbar-toggle{
        float: left;
}
.panel{position: absolute;
        bottom: 0%;
        width:100%;
        background: #696969;}
        
.panel-default{
        margin-bottom: 0px;
}
//.navbar{background:#4169E1;}
.btn_top{position: fixed;
        right: 10%;
        top: 1%;
}
.nav > li > a:hover, 
.nav > li > a:focus{
        background-color: transparent;
}
.nav .open > a, 
.nav .open > a:hover,
.nav .open > a:focus{
        background-color: transparent;
}

.navbar-collapse{
        background-color: #333333;
        margin-top: 50px;
}
.navbar-nav > li > a{
        color: #fff;
}
//#icon{position: fixed; top: 1%;}