// Place all the styles related to the companys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#menu_company{ width:100%;}
.col-sm-2{height:100%; background-color:#696969;}
#btn_Home{width:90%;}
#btn_Avalia{width:90%;}
#btn_Delete{width:90%}
#btn_Edit{width:90%;}