// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{width: 100%;}
#box_login{position:relative;
    width:350px;
    height:600px;
    //left:30%;
    margin-top: 5%;
    }
#div_user{
}
#btn_login_user{background-color: #222;
    color: #9d9d9d;
    border-color: #9d9d9d;
    width: 295px;
    }
#btn_login_user:hover{
    
    border-color: #fff;
    color: white;
    
    }
    
#btn_login_company{background-color: #222;
    color: #9d9d9d;
    border-color: #9d9d9d;
    width: 295px;
    }
#btn_login_company:hover{
    
    border-color: #fff;
    color: white;
    
    }

#btn_user{
    background: #222;
    color: #9d9d9d;
    border-color: #9d9d9d;
   }
#btn_user:hover{ border-color: #fff;
    color: #fff;
}
#btn_company{
    background: #222;
    color: #9d9d9d;
    border-color: #9d9d9d;
    }
#btn_company:hover{ border-color: #fff;
    color: #fff;
}