// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//.box_login{ #position:absolute;
//            left:50%;
 //           top:50%;
 //           width:40%; 
  //          height:40%;
//            
 //           
  //          }

#btn_login{
  background-color: #222;
  //border: none;
  border-color: #9d9d9d;
  color: #9d9d9d;
 }
 #btn_login:hover{
  border-color: #fff;
  color: #fff;
 }
 
#btn_signout{
  background-color: #222;
  //border: none;
  border-color: #9d9d9d;
  color: #9d9d9d;
 }
 #btn_signout:hover{
  border-color: #fff;
  color: #fff;
 }
 
#btn_prof{
  background-color: #222;
  //border: none;
  border-color: #9d9d9d;
  color: #9d9d9d;
 }
 #btn_prof:hover{
  border-color: #fff;
  color: #fff;
 }
#wrapper {
    padding-left: 0;
}
#about{position: relative; padding-top:50px;height:650px;color: #000; background-color: #fff;}
#team{position: relative; padding-top:50px;height:650px;color: #000; background-color: #A7A7A7;}
#augusto{text-align: center;}
#carlos{text-align: center;}
#pedro{text-align: center;}