<!DOCTYPE html>
<html>
<head>
  <title>StatusService</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
<nav class="navbar navbar-inverse">
  <font size=6; color=white>StatusService</font>
</nav>
=======

>>>>>>> 791cd711d7957f0ed119f7575a9aeda9b852a373

<%= yield %>

<div class="panel panel-default">
  <div class="panel-body">
    <center><font color=white>CopyLeft - WildCats</font></center>
  </div>
</div>
</body>
</html>
